doctype 
html 
    head 
        title=title 
        link(href='./style.css' rel='stylesheet')
        style(type='text/css').
            body{
                background: linear-gradient(#e66465, #9198e5) no-repeat center center fixed;
                color: white;
                text-align: center;
            }
            label{
                color: white;
                text-align: center; 
            }
    body
        h3=title 
        block content 
        