extends layout 

block content
    body 
        form(method='post' action='/')
            p Username:
                br
                input(type='text' name='name')
            p Password:
                br
                input(type='text' name='password')
            p 
                input(type='submit' value='Log in')